@model IEnumerable<Infraestructure.Models.test_Usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clave)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoDeUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoDeIndentificacion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cedula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Clave)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoDeUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoDeIndentificacion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Cedula }) |
            @Html.ActionLink("Details", "Details", new {  id=item.Cedula }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Cedula })
        </td>
    </tr>
}

</table>
